@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #140f34;
  color: #fff;
  min-height: 100vh;
  min-width: 100%;
}

.wrapper {
  width: 85%;
  margin: auto;
  padding: 30px;
  background-color: transparent;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 60px;
}

.logomain {
  height: 80px;
}

.main {
  height: fit-content;
}

.list-house {
  height: 300px;
  margin-top: 50px;
  padding: 20px;
  background-color: #28274f;
  border-radius: 25px;
}

.bottom {
  height: 500px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.yes {
  height: 400px;
  width: 400px;
  padding: 20px;
  position: relative;
  background-color: #28274f;
  background-clip: padding-box;
  border: 2px solid transparent;
  border-radius: 25px;
}

.yes::before {
  background-image: linear-gradient(90deg, #8a86ff 0.04%, #e13cbd 99.5%);
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  z-index: -1;
  border-radius: 25px;
}

.abstain {
  height: 400px;
  width: 400px;
  padding: 20px;
  position: relative;
  background-color: #28274f;
  background-clip: padding-box;
  border: 2px solid transparent;
  border-radius: 25px;
}

.abstain::before {
  background-image: linear-gradient(90deg, #8a86ff 0.04%, #e13cbd 99.5%);
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  z-index: -1;
  border-radius: 25px;
}

.no {
  height: 400px;
  width: 400px;
  padding: 20px;
  position: relative;
  background-color: #28274f;
  background-clip: padding-box;
  border: 2px solid transparent;
  border-radius: 25px;
}

.no::before {
  background-image: linear-gradient(90deg, #8a86ff 0.04%, #e13cbd 99.5%);
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  z-index: -1;
  border-radius: 25px;
}

.noveto {
  height: 400px;
  width: 400px;
  padding: 20px;
  position: relative;
  background-color: #28274f;
  background-clip: padding-box;
  border: 2px solid transparent;
  border-radius: 25px;
}

.noveto::before {
  background-image: linear-gradient(90deg, #8a86ff 0.04%, #e13cbd 99.5%);
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  z-index: -1;
  border-radius: 25px;
}

.logo-footer {
  /* margin-top: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.flipside-logo {
  width: 250px;
  height: 60px;
}

.footer-links {
  text-decoration: none;
  color: #fff;
}

.footer-links:visited {
  text-decoration: none;
  color: #fff;
}
